<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/753ce5fc-2705-486f-95d1-7720ee5627ca/resourceGroups/SOSAniGroup/providers/Microsoft.Web/sites/AnimalSOS</ResourceId>
    <ResourceGroup>SOSAniGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://animalsos.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>animalsos.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AnimalSOS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AnimalSOS</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SOSAbdEntities1" Order="1" Enabled="False">
          <Destination Path="Data Source=sosanimal.database.windows.net;Initial Catalog=SOSAbd-2020-5-12-0-35;Persist Security Info=True;User ID=azureuser;Password=Sosanimalli4;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SOSAnimal.Models.SOSAbdEntities1, SOSAnimal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SOSAbdEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=sosanimal.database.windows.net;Initial Catalog=SOSAbd-2020-5-12-0-35;Persist Security Info=True;User ID=azureuser;Password=Sosanimalli4;Application Name=EntityFramework" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sosanimal.database.windows.net;Initial Catalog=SOSAbd-2020-5-12-0-35;Persist Security Info=True;User ID=azureuser;Password=Sosanimalli4;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SOSAbdEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sosanimal.database.windows.net;initial catalog=SOSAbd-2020-5-12-0-35;persist security info=True;user id=azureuser;password=Sosanimalli4;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SOSAbdEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="data source=sosanimal.database.windows.net;initial catalog=SOSAbd-2020-5-12-0-35;persist security info=True;user id=azureuser;password=Sosanimalli4;application name=EntityFramework;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SOSAbdEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model2.csdl|res://*/Models.Model2.ssdl|res://*/Models.Model2.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sosanimal.database.windows.net;Initial Catalog=SOSAbd-2020-5-12-0-35;Persist Security Info=True;User ID=azureuser;Password=Sosanimalli4;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>