// Operacoes sobre Inteiros 2
START
//
PUSHI 1
NOT
//
PUSHI 1
PUSHI 1
INF
PUSHI 1338123
PUSHI 122
INF
PUSHI -1232
PUSHI 129319
INF
//
PUSHI 11231231
PUSHI 11231231
INFEQ
PUSHI 133
PUSHI -112312
INFEQ
PUSHI 19811123
PUSHI 129319182398
INFEQ
//
PUSHI 0
PUSHI 0
SUP
PUSHI -1
PUSHI -12
SUP
PUSHI 0
PUSHI 98
SUP
//
PUSHI -1
PUSHI -1
SUPEQ
PUSHI 1
PUSHI 0
SUPEQ
PUSHI -12312312
PUSHI 0
SUPEQ
//
ADD
ADD
ADD
ADD
ADD
ADD
ADD
ADD
ADD
ADD
ADD
ADD
STOP
